<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
<style>
html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #222;
    background: linear-gradient(to right bottom, #444, #000);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    font-family: 'Staatliches','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: calc(2rem + 9vw);
    text-shadow: 2px 2px 5px #000;
}
</style>
<title>Fuck everything</title>
<h1>fucking <br>{{ . }}</h1>

